<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
  </head>
  <body>
    <nav class="demo">
      <a href="/" class="brand">
        <span>EatHub</span>
      </a>

      <div class="menu">
        <a href="/contact" class="button">Contact</a>
        <a href="/sign" class="button">Sign up</a>
      </div>
    </nav>

    <div style="width: 80%; margin: 0 auto; padding-top: 100px">
      <h2><%= titletext %></h2>

      <h3>Details...</h3>

      <div class="flex one two-600 three-800 four-1000">
        <% if (burgerData && burgerData.length > 0) { %> <%
        burgerData.forEach(function(burger) { %>
        <div>
          <header><%= burger.title %></header>
          <p>Price: $<%= burger.price %></p>
          <a
            class="button"
            href="/"
            style="background-color: green; color: white"
          >
            Back
          </a>
        </div>
        <% }); %> <% } else { %>
        <p>No burger details available</p>
        <a
          class="button"
          href="/"
          style="background-color: green; color: white"
        >
          Back
        </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
