<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
  <nav class="demo">
    <a href="/" class="brand">
      <span>EatHub</span>
    </a>
  
  
    <div class="menu">
      <a href="/contact" class="button">contact</a>
      <a href="/sign" class="button">sign up</a>
    </div>
  </nav>
  
  </div>
  <div style="width:80%; margin: 0 auto; padding-top: 100px;">
    <h2><%= titletext %></h2>
    
    <h3>Buy a burger...</h3>

     <div class="flex one two-600 three-800 four-1000"> 

        <% bdata['data'].forEach( (burger)=>{   %>
            <div>
                <header><%= burger.title %></header>
                <a class="button" href="/buy?item=<%= burger.id %>">buy</a>
            </div>
        <% }); %>

  

    </div>
  </div>
</body>
</html>